<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
</head>
<body>
	
	<div align="right" style="margin-right: 20px">
		<a href="adminCP" style="font-size: 20px">Change Password</a> || <a href="/" style="font-size: 20px">Logout</a>
	</div>
	
	<div align="center">
	
		 <h1>WELCOME TO DASHBOARD</h1>
		 
		<div style="display: flex;" align="center">
			<div style="margin-left: 230px">
			<h2>Product Management</h2>
			
				<a href="productList">Product List</a>  ||  <a href="addProduct">Add Product</a> || 
				<a href="updateProduct">Modify Product</a>  ||  <a href="deleteProduct">Delete Product</a>
			</div>	
			
			<div style="margin-left: 230px">
			<h2>User Management</h2>
			
			<a href="listUser">See User List</a> || <a href="searchUser">Search User</a>
			
			</div>
		
			<div style="margin-left: 230px" >
			<h2>Purchase Report Management</h2>
			
				<a href="purchaseList">See Purchase Orders</a>
			</div>
			
		</div>
		
	</div>
</body>
</html>