<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
</head>
<body>
	
		<div align="right" style="margin-right: 20px">
			<a href="dashboard" style="font-size: 20px">DashBoard</a> || <a href="/" style="font-size: 20px">Logout</a>
		</div>
		
		<div align='center'>
		<h1>Change Admin Password</h1>
			<form action="changePassword" method="post">
				<table border="1" cellpadding="10">
					<tr>
						<th>Admin Password</th>
						<td><input type="password" name="adminpassword" required></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
						<input type="submit" value="Submit" /></td>
					</tr>
				</table>
			</form>
	  </div>
		
</body>
</html>