<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sporty shoes</title>
</head>
<body>

		<div align="right" style="margin-right: 20px">
			<a href="dashboard" style="font-size: 20px">DashBoard</a> || <a href="/" style="font-size: 20px">Logout</a>
		</div>
	
		<div align="center">
			<h1>Search User By Name</h1>
					<form action="findUser" method="post" >
						<table border="1" cellpadding="10">
							<tr>
								<th>Enter User Name </th>
								<td><input name="username" type="text" id="username" required></td>
							</tr>
							<tr>
								<td colspan="2" align="center">
								<input name="Submit" type="submit" value="Submit"/></td>
							</tr>
						</table>
					</form>
			</div>	
</body>
</html>